extends layout

block content
  .form
    input#search(type="text", name="search" required)
    button#call 
      i.fas.fa-search
  .container 
    .col
      p City:
        span#city 
    .col
      p Temperature:
        span#temp 
      

